*{
    box-sizing: border-box;
}


body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


h1{
    text-align: center;
}

img{
    width: 300px;
    height: 200px;
}

.flex-container{
    display: flex;
    justify-content: center;
}

figcaption{
    color: #595959;
}

a{
    font-weight: bold;
    text-decoration: none;
    color: black;
    font-size: 24px;
}